@model AerolineaExpress.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo cliente</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoDePago" class="control-label"></label>
                <input asp-for="MetodoDePago" class="form-control" />
                <span asp-validation-for="MetodoDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDeCuenta" class="control-label"></label>
                <input asp-for="NumeroDeCuenta" class="form-control" />
                <span asp-validation-for="NumeroDeCuenta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="confimarVuelo" /> @Html.DisplayNameFor(model => model.confimarVuelo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
